body{
font-family: "Plus Jakarta Sans", sans-serif !important;
 display: flex;
 flex-direction: column;
 min-height: 100vh;
}

.container{
    flex: 1;
}

/* navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color:  #fe424d;;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
    color: #222222;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

.f-info-links{
    width: 100%;
}

.f-info-social{
    width: 100%;
    font-size: 1.3rem;
}

.f-info-social i{
    margin-right: 1.5rem;
}

/* crads */

.listing-card{
    border: none !important;
    margin-bottom:2rem ;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}



.card-text {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
}

.listing-link{
    text-decoration: none !important;
}


/* Card effect */

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}


/* New Page */

.add-btn{
    background-color: rgb(216, 43, 43) !important;
    border: none !important;
}


/* show page  */

.show-image{
    height: 30vh;
}


.btns{
    display: flex;
}

.dbtn{
    background-color: #e30f0f !important;
    border: none !important;
}

.ebtn{
    background-color: #0fe32f !important;
    border: none !important;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.edit-image-preview {
  width: 300px;
  height: 200px;
  object-fit: cover;
}



@media (max-width : 550px) {
    .filter {
        display: none;
    }
}

@media (max-width : 550px) {
    .navbar-toggler {
       height: 1.5rem !important;
       width: 1.5rem !important;
    }
}

@media (max-width : 550px) {
    .toggle-line {
       height: 1.3rem !important;
       width: 1.3rem !important;  
       position: relative;
       right: 0.65rem !important;
       bottom: 0.3rem !important;
    }
}

@media (max-width : 550px) {
    .form-control,.btn-search {
        height: 2rem !important;
        position: relative;
        bottom: 2.5rem ;
        left: 2rem !important;
    }
    .btn-search{
        width: 5rem;
        display:inline-flex !important;
        align-items: center !important;
    }
    .form-control{
        width: 18rem !important;
    }
    .btn-search i {  
        font-size: 0.7rem !important;
        position: relative;
        right: 0.7rem !important;
    }
    .btn-search span{
        position: relative !important;
        right:  0.9rem !important;
    }
 
    .tax-toggle{
        height: 2rem !important;
        width: 8.3rem !important;
        position: relative  !important;
        left: 19rem !important;
    }
    .form-check-input{
        height: 0.8rem !important;
        position: relative !important;
        top: 0.18rem !important;
    }
    .form-check-label {
        font-size: 0.9rem !important;
    }

}
